<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sl.nicefish.dao.ClassifyMapper" >
  <resultMap id="BaseResultMap" type="com.sl.nicefish.pojo.Classify" >
    <id column="ClassifyId" property="classifyid" jdbcType="VARCHAR" />
    <result column="ClassifyName" property="classifyname" jdbcType="VARCHAR" />
    <result column="ClassifyDesc" property="classifydesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ClassifyId, ClassifyName, ClassifyDesc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from classify
    where ClassifyId = #{classifyid,jdbcType=VARCHAR}
  </select>
  
  <select id="getList">
  	select 
    <include refid="Base_Column_List" />
    from classify
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from classify
    where ClassifyId = #{classifyid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sl.nicefish.pojo.Classify" >
    insert into classify (ClassifyId, ClassifyName, ClassifyDesc
      )
    values (#{classifyid,jdbcType=VARCHAR}, #{classifyname,jdbcType=VARCHAR}, #{classifydesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sl.nicefish.pojo.Classify" >
    insert into classify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classifyid != null" >
        ClassifyId,
      </if>
      <if test="classifyname != null" >
        ClassifyName,
      </if>
      <if test="classifydesc != null" >
        ClassifyDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classifyid != null" >
        #{classifyid,jdbcType=VARCHAR},
      </if>
      <if test="classifyname != null" >
        #{classifyname,jdbcType=VARCHAR},
      </if>
      <if test="classifydesc != null" >
        #{classifydesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sl.nicefish.pojo.Classify" >
    update classify
    <set >
      <if test="classifyname != null" >
        ClassifyName = #{classifyname,jdbcType=VARCHAR},
      </if>
      <if test="classifydesc != null" >
        ClassifyDesc = #{classifydesc,jdbcType=VARCHAR},
      </if>
    </set>
    where ClassifyId = #{classifyid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sl.nicefish.pojo.Classify" >
    update classify
    set ClassifyName = #{classifyname,jdbcType=VARCHAR},
      ClassifyDesc = #{classifydesc,jdbcType=VARCHAR}
    where ClassifyId = #{classifyid,jdbcType=VARCHAR}
  </update>
</mapper>