<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sl.nicefish.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.sl.nicefish.pojo.Comment" >
    <id column=" CommentId" property="commentid" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="VARCHAR" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="NickName" property="nickname" jdbcType="VARCHAR" />
    <result column="VisitorName" property="visitorname" jdbcType="VARCHAR" />
    <result column="CommentIP" property="commentip" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="PostId" property="postid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sl.nicefish.pojo.Comment" extends="BaseResultMap" >
    <result column="Content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    " CommentId", UserId, UserName, NickName, VisitorName, CommentIP, CreateTime, PostId, 
    status
  </sql>
  <sql id="Blob_Column_List" >
    Content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comment
    where " CommentId" = #{commentid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from comment
    where " CommentId" = #{commentid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sl.nicefish.pojo.Comment" >
    insert into comment (" CommentId", UserId, UserName, 
      NickName, VisitorName, CommentIP, 
      CreateTime, PostId, status, 
      Content)
    values (#{commentid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{visitorname,jdbcType=VARCHAR}, #{commentip,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{postid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sl.nicefish.pojo.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentid != null" >
        " CommentId",
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="nickname != null" >
        NickName,
      </if>
      <if test="visitorname != null" >
        VisitorName,
      </if>
      <if test="commentip != null" >
        CommentIP,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="postid != null" >
        PostId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentid != null" >
        #{commentid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="visitorname != null" >
        #{visitorname,jdbcType=VARCHAR},
      </if>
      <if test="commentip != null" >
        #{commentip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="postid != null" >
        #{postid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sl.nicefish.pojo.Comment" >
    update comment
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="visitorname != null" >
        VisitorName = #{visitorname,jdbcType=VARCHAR},
      </if>
      <if test="commentip != null" >
        CommentIP = #{commentip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="postid != null" >
        PostId = #{postid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where " CommentId" = #{commentid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sl.nicefish.pojo.Comment" >
    update comment
    set UserId = #{userid,jdbcType=VARCHAR},
      UserName = #{username,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      VisitorName = #{visitorname,jdbcType=VARCHAR},
      CommentIP = #{commentip,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      PostId = #{postid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      Content = #{content,jdbcType=LONGVARCHAR}
    where " CommentId" = #{commentid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sl.nicefish.pojo.Comment" >
    update comment
    set UserId = #{userid,jdbcType=VARCHAR},
      UserName = #{username,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      VisitorName = #{visitorname,jdbcType=VARCHAR},
      CommentIP = #{commentip,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      PostId = #{postid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where " CommentId" = #{commentid,jdbcType=VARCHAR}
  </update>
</mapper>