<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sl.nicefish.dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.sl.nicefish.pojo.Permission" >
    <id column="PermissionId" property="permissionid" jdbcType="VARCHAR" />
    <result column="PermissionCode" property="permissioncode" jdbcType="VARCHAR" />
    <result column="PermissionDesc" property="permissiondesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PermissionId, PermissionCode, PermissionDesc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where PermissionId = #{permissionid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from permission
    where PermissionId = #{permissionid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sl.nicefish.pojo.Permission" >
    insert into permission (PermissionId, PermissionCode, PermissionDesc
      )
    values (#{permissionid,jdbcType=VARCHAR}, #{permissioncode,jdbcType=VARCHAR}, #{permissiondesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sl.nicefish.pojo.Permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionid != null" >
        PermissionId,
      </if>
      <if test="permissioncode != null" >
        PermissionCode,
      </if>
      <if test="permissiondesc != null" >
        PermissionDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionid != null" >
        #{permissionid,jdbcType=VARCHAR},
      </if>
      <if test="permissioncode != null" >
        #{permissioncode,jdbcType=VARCHAR},
      </if>
      <if test="permissiondesc != null" >
        #{permissiondesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sl.nicefish.pojo.Permission" >
    update permission
    <set >
      <if test="permissioncode != null" >
        PermissionCode = #{permissioncode,jdbcType=VARCHAR},
      </if>
      <if test="permissiondesc != null" >
        PermissionDesc = #{permissiondesc,jdbcType=VARCHAR},
      </if>
    </set>
    where PermissionId = #{permissionid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sl.nicefish.pojo.Permission" >
    update permission
    set PermissionCode = #{permissioncode,jdbcType=VARCHAR},
      PermissionDesc = #{permissiondesc,jdbcType=VARCHAR}
    where PermissionId = #{permissionid,jdbcType=VARCHAR}
  </update>
</mapper>