<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sl.nicefish.dao.UploadMapper" >
  <resultMap id="BaseResultMap" type="com.sl.nicefish.pojo.Upload" >
    <id column="UpId" property="upid" jdbcType="VARCHAR" />
    <result column="UpTime" property="uptime" jdbcType="TIMESTAMP" />
    <result column="FileType" property="filetype" jdbcType="INTEGER" />
    <result column="FilePath" property="filepath" jdbcType="VARCHAR" />
    <result column="FileName" property="filename" jdbcType="VARCHAR" />
    <result column="ImgWidth" property="imgwidth" jdbcType="INTEGER" />
    <result column="ImgHeight" property="imgheight" jdbcType="INTEGER" />
    <result column="FileDesc" property="filedesc" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="VARCHAR" />
    <result column="ImgModule" property="imgmodule" jdbcType="INTEGER" />
    <result column="PostId" property="postid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UpId, UpTime, FileType, FilePath, FileName, ImgWidth, ImgHeight, FileDesc, UserId, 
    ImgModule, PostId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from upload
    where UpId = #{upid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from upload
    where UpId = #{upid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sl.nicefish.pojo.Upload" >
    insert into upload (UpId, UpTime, FileType, 
      FilePath, FileName, ImgWidth, 
      ImgHeight, FileDesc, UserId, 
      ImgModule, PostId)
    values (#{upid,jdbcType=VARCHAR}, #{uptime,jdbcType=TIMESTAMP}, #{filetype,jdbcType=INTEGER}, 
      #{filepath,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, #{imgwidth,jdbcType=INTEGER}, 
      #{imgheight,jdbcType=INTEGER}, #{filedesc,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{imgmodule,jdbcType=INTEGER}, #{postid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sl.nicefish.pojo.Upload" >
    insert into upload
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="upid != null" >
        UpId,
      </if>
      <if test="uptime != null" >
        UpTime,
      </if>
      <if test="filetype != null" >
        FileType,
      </if>
      <if test="filepath != null" >
        FilePath,
      </if>
      <if test="filename != null" >
        FileName,
      </if>
      <if test="imgwidth != null" >
        ImgWidth,
      </if>
      <if test="imgheight != null" >
        ImgHeight,
      </if>
      <if test="filedesc != null" >
        FileDesc,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="imgmodule != null" >
        ImgModule,
      </if>
      <if test="postid != null" >
        PostId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="upid != null" >
        #{upid,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null" >
        #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="filetype != null" >
        #{filetype,jdbcType=INTEGER},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="imgwidth != null" >
        #{imgwidth,jdbcType=INTEGER},
      </if>
      <if test="imgheight != null" >
        #{imgheight,jdbcType=INTEGER},
      </if>
      <if test="filedesc != null" >
        #{filedesc,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="imgmodule != null" >
        #{imgmodule,jdbcType=INTEGER},
      </if>
      <if test="postid != null" >
        #{postid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sl.nicefish.pojo.Upload" >
    update upload
    <set >
      <if test="uptime != null" >
        UpTime = #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="filetype != null" >
        FileType = #{filetype,jdbcType=INTEGER},
      </if>
      <if test="filepath != null" >
        FilePath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        FileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="imgwidth != null" >
        ImgWidth = #{imgwidth,jdbcType=INTEGER},
      </if>
      <if test="imgheight != null" >
        ImgHeight = #{imgheight,jdbcType=INTEGER},
      </if>
      <if test="filedesc != null" >
        FileDesc = #{filedesc,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="imgmodule != null" >
        ImgModule = #{imgmodule,jdbcType=INTEGER},
      </if>
      <if test="postid != null" >
        PostId = #{postid,jdbcType=VARCHAR},
      </if>
    </set>
    where UpId = #{upid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sl.nicefish.pojo.Upload" >
    update upload
    set UpTime = #{uptime,jdbcType=TIMESTAMP},
      FileType = #{filetype,jdbcType=INTEGER},
      FilePath = #{filepath,jdbcType=VARCHAR},
      FileName = #{filename,jdbcType=VARCHAR},
      ImgWidth = #{imgwidth,jdbcType=INTEGER},
      ImgHeight = #{imgheight,jdbcType=INTEGER},
      FileDesc = #{filedesc,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=VARCHAR},
      ImgModule = #{imgmodule,jdbcType=INTEGER},
      PostId = #{postid,jdbcType=VARCHAR}
    where UpId = #{upid,jdbcType=VARCHAR}
  </update>
</mapper>