<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sl.nicefish.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.sl.nicefish.pojo.User" >
    <id column="UserId" property="userid" jdbcType="VARCHAR" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="UserRealName" property="userrealname" jdbcType="VARCHAR" />
    <result column="NicKName" property="nickname" jdbcType="VARCHAR" />
    <result column="EName" property="ename" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="CellPhone" property="cellphone" jdbcType="VARCHAR" />
    <result column="UserDesc" property="userdesc" jdbcType="VARCHAR" />
    <result column="UpId" property="upid" jdbcType="VARCHAR" />
    <result column="Type" property="type" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="Code" property="code" jdbcType="VARCHAR" />
    <result column="JoinTime" property="jointime" jdbcType="TIMESTAMP" />
    <result column="LeaveTime" property="leavetime" jdbcType="TIMESTAMP" />
    <result column="RegisterTime" property="registertime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserId, UserName, UserRealName, NicKName, EName, Password, Email, QQ, CellPhone, 
    UserDesc, UpId, Type, Status, Code, JoinTime, LeaveTime, RegisterTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where UserId = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where UserId = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sl.nicefish.pojo.User" >
    insert into user (UserId, UserName, UserRealName, 
      NicKName, EName, Password, 
      Email, QQ, CellPhone, 
      UserDesc, UpId, Type, 
      Status, Code, JoinTime, 
      LeaveTime, RegisterTime)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{userrealname,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{ename,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, 
      #{userdesc,jdbcType=VARCHAR}, #{upid,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{jointime,jdbcType=TIMESTAMP}, 
      #{leavetime,jdbcType=TIMESTAMP}, #{registertime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sl.nicefish.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        UserId,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="userrealname != null" >
        UserRealName,
      </if>
      <if test="nickname != null" >
        NicKName,
      </if>
      <if test="ename != null" >
        EName,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="cellphone != null" >
        CellPhone,
      </if>
      <if test="userdesc != null" >
        UserDesc,
      </if>
      <if test="upid != null" >
        UpId,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="code != null" >
        Code,
      </if>
      <if test="jointime != null" >
        JoinTime,
      </if>
      <if test="leavetime != null" >
        LeaveTime,
      </if>
      <if test="registertime != null" >
        RegisterTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userrealname != null" >
        #{userrealname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="ename != null" >
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="userdesc != null" >
        #{userdesc,jdbcType=VARCHAR},
      </if>
      <if test="upid != null" >
        #{upid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="jointime != null" >
        #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="leavetime != null" >
        #{leavetime,jdbcType=TIMESTAMP},
      </if>
      <if test="registertime != null" >
        #{registertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sl.nicefish.pojo.User" >
    update user
    <set >
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userrealname != null" >
        UserRealName = #{userrealname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NicKName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="ename != null" >
        EName = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null" >
        CellPhone = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="userdesc != null" >
        UserDesc = #{userdesc,jdbcType=VARCHAR},
      </if>
      <if test="upid != null" >
        UpId = #{upid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        Code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="jointime != null" >
        JoinTime = #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="leavetime != null" >
        LeaveTime = #{leavetime,jdbcType=TIMESTAMP},
      </if>
      <if test="registertime != null" >
        RegisterTime = #{registertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UserId = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sl.nicefish.pojo.User" >
    update user
    set UserName = #{username,jdbcType=VARCHAR},
      UserRealName = #{userrealname,jdbcType=VARCHAR},
      NicKName = #{nickname,jdbcType=VARCHAR},
      EName = #{ename,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      CellPhone = #{cellphone,jdbcType=VARCHAR},
      UserDesc = #{userdesc,jdbcType=VARCHAR},
      UpId = #{upid,jdbcType=VARCHAR},
      Type = #{type,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      Code = #{code,jdbcType=VARCHAR},
      JoinTime = #{jointime,jdbcType=TIMESTAMP},
      LeaveTime = #{leavetime,jdbcType=TIMESTAMP},
      RegisterTime = #{registertime,jdbcType=TIMESTAMP}
    where UserId = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>